form
  label.label
    textarea(class='input form__textarea' rows='2' cols='53' placeholder='Сообщение' data-tooltip='Введите сообщение' name='message')

  input(class='button button_form' type='submit' value='ОТПРАВИТЬ' id='button')
  label(class='form__label button__icon' for='button')
