.label__text {
  padding-left: 10px;
}

.form__input,
.form__textarea,
.button {
  display: block;
  width: var(--inputsWidth);
  margin: auto;
  margin-bottom: 0.7rem;
  position: relative;

  line-height: 1.2rem;
  
  border: 1px solid var(--formBorderColor);
  border-radius: 0.3rem;
  outline: none;  

}

.form__input:focus,
.form__textarea:focus,
.button:focus {
  border: 1px solid var(--focuseBorderColor);
}

.form__textarea {
  resize: none;
  caret-color: var(--formBorderColor);
}

.button  {
  margin: 0 auto;
  margin-bottom: 0.2rem;
  padding: 0.7rem 1.1rem;

  font-family: "PT Sans Narrow";
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--buttonFontColor);
  
  background-image: linear-gradient(to bottom, var(--buttonBgColorStart), var(--buttonBgColorEnd));
  border-radius: 0.3rem;

  cursor: pointer;
}

.button:active {
  color: var(--buttonShadowColor);
  box-shadow: inset -0.1rem 0.1rem 0.1rem 0rem var(--buttonShadowColor), 
              inset 0.1rem 0rem 0.1rem 0rem var(--buttonShadowColor);
  outline: none;
}

.button__icon {
  position: relative;
}

.button__icon::after {
  width: 1.8rem;
  height: 1.8rem;

  position: absolute;
  content: "";
  right: -16.5rem;
  top: -1.95rem;
  margin-top: -9px;
  
  background-color: var(--buttonBgColorEnd);

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(255, 255, 255)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>');
 
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 0.3rem;
  box-shadow: inset 0rem 0.05rem 0rem rgb(5, 39, 86), 0rem 0.05rem 0rem var(--buttonShadowColor);
}

@media (min-width: 768px) { 
  .button__icon::after {
    right: -26.3rem;
  }
}

.button_form:active ~ .button__icon::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(21, 103, 133)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>');

  box-shadow: 0.01rem 0.1rem 0.12rem #052756, 0rem 0.05rem 0.12rem var(--buttonShadowColor);
}

.error {
  border: 1px solid var(--errorColor);
}