form
  label.form__label
    span.label__text Пользователь
    input(class='form__input form__input_user-name' type='text' data-tooltip='Введите Ваше имя' name='user')

  label.form__label
    span.label__text Сообщение
    textarea(class='form__textarea' rows='3' cols='53' data-tooltip='Введите сообщение' name='message')

  button(class='form__button' type='submit' value='ОТПРАВИТЬ') ОТПРАВИТЬ
