.form {

  width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;

  font-size: 1rem;
}

.label__text {
  padding-left: 10px;
}

.form__input,
.form__textarea,
.form__button {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  position: relative;

  line-height: 1.2rem;
  
  border: 1px solid #2591b4;
  border-radius: 0.3rem;

}

.form__input {
  width: 98%;
}

.form__textarea {
  resize: none;
}

.form__button  {
  width: 98%;
  position: relative;
  padding: 10px 20px;
  padding-right: 50px;

  
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  
  background-image: linear-gradient(to bottom, #2ca0ca, #3eb8e5);
  border-radius: 5px;

  cursor: pointer;
}

.form__button::before {
  background-position: center center;
  content: "hey";
  width: 20px;
  height: 20px;

  position: absolute;
  right: 0;
  top: 0;
  margin-top: -9px;

  background-color: #2591b4;
 /* background-image: url(../images/right_arrow.png);
  background-repeat: no-repeat;*/
  border-radius: 50%;
  box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.form__button:active {
  color: #156785;
  box-shadow: inset -3px 3px 3px 0px #156785, 
              inset 3px 0px 3px 0px #156785;
  outline: none;
}
/*

*/

/*
.form__button {
  width: 98%;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;

  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-size: 1.2rem;
}
*/

.error {
  border: 1px solid #ff0000;
}