.app
  .app__header
    a(class="a menu__item item__icon item__icon_chat " href="#" title="Главная страница" name="chat-page") чат
    span.app__header_user#username
    a(class="a menu__item item__icon item__icon_login" title="Войти в чат" name="login-page") войти

  .app__content_wrapper
    .app__content#chat
  .app__form#form