main.app
  nav.app__header
    a(class="a menu__item item__icon item__icon_chat " href="/chat" title="Home page" name="startChat") chat
    .header__toggle#user-toggle
      div(class="flag flag_ru" title="Ru")
      .toggle
      div(class="flag flag_eng" title="Eng")
    //- .header__user#user-toggle
    //- span.app__header_user#username
    a(class="a menu__item item__icon item__icon_login" href="/chat/login" title="Login" name="startLogin") login

  section.app__content