.app
  .app__header
    a(class="a menu__item item__icon item__icon_chat " href="/chat" title="Главная страница" name="startChat") чат
    span.app__header_user#username
    a(class="a menu__item item__icon item__icon_login" href="/chat/login" title="Войти в чат" name="startLogin") войти

  .app__content