main.app
  nav.app__header
    a(class="a menu__item item__icon item__icon_chat " href="/chat" title="Главная страница" name="startChat") чат
    .header__toggle#user-toggle
      div(class="flag flag_ru" title="Ru")
      .toggle.toggle_left.ru
      div(class="flag flag_eng" title="Eng")
    //- .header__user#user-toggle
    //- span.app__header_user#username
    a(class="a menu__item item__icon item__icon_login" href="/chat/login" title="Войти" name="startLogin") войти

  section.app__content