.alert {
  font-weight: 400;
  animation: colors 1s infinite alternate;
}

.chat {
  min-height: 5rem;
  margin: 0;
  padding: 0;
  overflow: hidden;

  position: relative;
}

.chat__content {
  width: 100%;
  margin: 0 auto;
  padding: 0;

  font-size: 1rem;
}

.chat__content:empty:after {
  content: 'В чате нет сообщений';
  position: absolute;
  top: 3rem;
  left: 15%;
  font-size: 1.5rem;
  text-align: center;
  color: var(--buttonBgColorEnd);
}

@media (min-width: 768px) { 
  .chat__content:empty:after {
    left: 28%;
  }
}

.chat__form {
  width: var(--chatWidth);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1rem;
  
}