form(class='form login__content  login__content_forgot' name='forgot')
  label.label.label__user
    input(class='input input_login input_user-name' type='text' placeholder='Логин' data-tooltip='Введите логин' name='user-name')
  label.label.label__email
    input(class='input input_login input_email' type='text' placeholder='E-mail' data-tooltip='Введите Ваш e-mail' name='e-mail')
  label.label.label__password
    input(class='input input_login input_password' type='password' placeholder='Новый пароль'  data-tooltip='Введите новый пароль' name='pass')
    .icon-password.icon-password_lock
  input(class='button button_form' type='submit' value='Восстановить' id='forgot-button')