form(class='form login__content login__content_login' name='login')
  label.label.label__user
    input(class='input input_login input_user-name' type='text' placeholder='Login' data-tooltip='Enter login' name='user-name')
  label.label.label__password
    input(class='input input_login input_password' type='password' placeholder='Password'  data-tooltip='Enter password' name='pass')
    .icon-password.icon-password_lock
  input(class='button button_form' type='submit' value='Login' id='login-button')