form(class='form login__content login__content_login' name='login')
  .social
    div(class="fb-login-button button__fb" data-width="200" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true")
  label.label.label__user
    input(class='input input_login input_user-name' type='text' placeholder='Логин' data-tooltip='Введите логин' name='user-name')
  label.label.label__password
    input(class='input input_login input_password' type='password' placeholder='Пароль'  data-tooltip='Введите пароль' name='pass')
    .icon-password.icon-password_lock
  input(class='button button_form' type='submit' value='Войти' id='login-button')