.login#login
  .buttons
    button(class='button button_login button_active' value='login') Login
    button(class='button button_login' value='sign') Sign Up
    button(class='button button_login' value='forgot') Restore

  .login__content_wrapper