.login#login
  .buttons
    button(class='button button_login button_active' value='login') Войти
    button(class='button button_login' value='sign') Регистрация
    button(class='button button_login' value='forgot') Восстановить

  .login__content_wrapper

