form(class='form login__content login__content_login' name='login')
    label.label.label__user
      span.label__text Логин
      input(class='input input_login input_user-name' type='text' data-tooltip='Введите логин' name='user-name')
    label.label.label__password
      span.label__text Пароль
      input(class='input input_login input_password' type='password' data-tooltip='Введите пароль' name='pass')
      .icon-password.icon-password_lock
    input(class='button button_form' type='submit' value='Войти' id='login-button')
