form(class='form login__content login__content_sign' name='sign')
  label.label.label__user
    input(class='input input_login input_user-name' type='text' placeholder='Login' data-tooltip='Enter login' name='user-name')
  label.label.label__email
    input(class='input input_login input_email' type='text' placeholder='E-mail' data-tooltip='Enter e-mail' name='e-mail')
  label.label.label__password
    input(class='input input_login input_password' type='password' placeholder='Password' data-tooltip='Enter password' name='pass')
    .icon-password.icon-password_lock
  input(class='button button_form' type='submit' value='Sign Up' id='sign-button')