.tooltip {
  position: absolute;
  padding: 0;

  font-family: "PT Sans Narrow";
  font-size: 1rem;
  color: var(--errorColor);

  word-wrap: normal;
  white-space: nowrap;
}

.tooltip_error {
  color: var(--errorColor);
  font-weight: 700;
}

.tooltip_placeholder {
  color: var(--formBorderColor);
}