:root {
  --mini-devices: 320px;
  --medium-devices: 768px;
  --large-devices: 1200px;
  
  --chatWidth: 320px;
  
  --chatHeaderHeight: 10vh;

  --messageBackgroundColor: rgb(255, 255, 255);
  --messageBorderRadius: 0.4rem;

  --inputsWidth: 98%;
  --formBorderColor: rgb(37, 145, 180);
  --buttonFontColor: rgb(255, 255, 255);
  --buttonBgColorStart: rgb(44, 160, 202);
  --buttonBgColorEnd: rgb(62, 184, 229);
  --buttonShadowColor: rgb(21, 103, 133);

  --focuseBorderColor: rgb(5, 39, 86);

  --errorColor: rgb(255, 0, 0);

}

@media (min-width: 768px) { 
  :root {
    --chatWidth: 500px;
  }
}

@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: normal;
	src: local('☺'),
       url(./fonts/pt-sans-narrow-regular.woff2) format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(./fonts/pt-sans-narrow-regular.woff) format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	/* font-display: swap;  */
}

@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: bold;
	src: local('☺'),
       url(./fonts/pt-sans-narrow-700.woff2) format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(./fonts/pt-sans-narrow-700.woff) format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	/* font-display: swap;  */
}

html {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-size: 18px;

  box-sizing: border-box;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0;
}

a {
  margin: 0;
  padding: 0;

  color: rgb(255, 255, 255);
  text-decoration: none;
}