.message-wrapper {
  width: 100%;

  display: flex;
  justify-content: flex-start;

  margin-top: 1rem;
}

.current-user {
  justify-content: flex-end;
}

.user,
.message {
  background-color: var(--messageBackgroundColor);
  border-radius: var(--messageBorderRadius);
}

.user {
  width: 25%;
  margin-left: 0.2rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  text-align: center;
}

.user__name {
  width: 100%;
  position: relative;

  color: var(--messageUserNameColor);
  white-space: nowrap;
  overflow-x: hidden; 
  text-overflow: ellipsis;
}
/* 
.user__name::after {
  content: '';
  position: absolute;
  right: 0; 
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 70%,var(--buttonBgColorStart) 100%);
} */

.user__image {
  width: 2.3rem;
  height: 2.3rem;
  
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 32 32" fill="rgb(62, 184, 229)"><path d="M16 0q3.25 0 6.214 1.268t5.107 3.411 3.411 5.107 1.268 6.214q0 3.232-1.259 6.196t-3.402 5.107-5.107 3.42-6.232 1.277-6.232-1.268-5.098-3.42-3.402-5.107-1.268-6.205 1.268-6.214 3.411-5.107 5.107-3.411 6.214-1.268zM27.054 24.125q2.661-3.661 2.661-8.125 0-2.786-1.089-5.321t-2.929-4.375-4.375-2.929-5.321-1.089-5.321 1.089-4.375 2.929-2.929 4.375-1.089 5.321q0 4.464 2.661 8.125 1.179-5.839 5.464-5.839 2.339 2.286 5.589 2.286t5.589-2.286q4.286 0 5.464 5.839zM22.857 12.571q0-2.839-2.009-4.848t-4.848-2.009-4.848 2.009-2.009 4.848 2.009 4.848 4.848 2.009 4.848-2.009 2.009-4.848z"></path></svg>');
  background-repeat: no-repeat;
  background-position: center center;
}

.message {
  display: inline-block;
  max-width: 65.5%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-bottom: 0.3rem;
  padding-right: 2rem;

  word-wrap: break-word;

  position: relative;
}

.message::before {
  position: absolute;
  content: "";
  top: 0.4rem;
  left: -1.1rem;

  border: 0.55rem solid transparent;
  border-right-color: var(--messageBackgroundColor);
}

.message__data {
  display: block;

  font-size: 0.65rem;
}

.current-user div:first-of-type {
  order: 2;
  margin-right: 0.2rem;
  margin-left: 0;
}

.current-user div:last-of-type::before {
  border: none;
}

.current-user div:last-of-type::after {
  position: absolute;
  content: "";
  top: 0.4rem;
  right: -1.1rem;

  border: 0.55rem solid transparent;
  border-left-color: var(--messageBackgroundColor);
}