.user
  img(class="user__image" src="./components/message/user-pic.png" width="10" height="10")
  span.user__name=this.messages[this.count]['user']
.message=this.messages[this.count]['message']
  span.message__data=this.messages[this.count]['time']